/* 详情页 */

@import "../../common/datepicker/foundation-datepicker.min.css";
.ban-copy {
    -moz-user-select: none;
    -o-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


/* 按钮组 */

.jdb-query-btns {
    width: 100%;
    /* height: 42px; */
    line-height: 31px;
    display: flex;
    box-sizing: border-box;
    position: relative;
    /* z-index: 1001; */
}

.jdb-query-btns img {
    display: block;
    height: 31px;
    width: 35px;
    margin-bottom: 6px;
}

.jdb-query-btns-list {
    display: flex;
    flex-wrap: wrap;
    padding-left: 6px
}

.jdb-query-btns-list>p {
    color: #fff;
    text-align: center;
    cursor: pointer;
    width: 60px;
    height: 24px;
    line-height: 25px;
    border: 1px solid #E1251B;
    border-radius: 2px;
    background-color: #E1251B;
    margin: 0 6px 6px 0;
}

.jdb-downloadImage-btn .el-icon-loading {
    display: none;
}

.jdb-downloadImage-btn-loading {
    pointer-events: none;
}

.jdb-downloadImage-btn-loading .el-icon-loading {
    display: inline-block;
}


/* 分页 */

.pager {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 0;
}

.pager a,
.pager .flip,
.pager .curPage {
    border: 1px solid #e3e3e3;
    display: inline-block;
    height: 28px;
    line-height: 28px;
    text-align: center;
}

.pager a {
    background: none repeat scroll 0 0 #f2f2f2;
    color: #010101;
    text-decoration: none;
    width: 30px;
    margin: 0 5px;
}

.pager a:hover {
    background: none repeat scroll 0 0 #f1f1f1;
    color: #e87683;
}

.pager .noPage {
    color: #a4a4a4;
}

.pager .curPage {
    border: none;
    color: #ffffff;
    width: 30px;
    color: #e87683;
}

.pager .flip {
    width: 56px;
    margin: 0 5px;
}