@import "../../common/datepicker/foundation-datepicker.min.css";

/* 按钮组 */

.btn-box {
    width: 100%;
    height: 42px;
    display: flex;
    align-items: center;
    box-sizing: border-box;
}

.btn-box img {
    display: block;
    height: 31px;
    width: 35px;
}

.btn-box>p,
.dzgj-moreFuction-btn {
    color: #fff;
    text-align: center;
    cursor: pointer;
    width: 52px;
    height: 24px;
    line-height: 24px;
    box-sizing: border-box;
    border: 1px solid #E1251B;
    border-radius: 2px;
    background-color: #E1251B;
    margin-left: 5px;
}

.btn-box p.pit-production,
.dzgj-moreFuction-btn {
    width: 57px;
}

.dzgj-moreFuction-box {
    position: relative;
}

.dzgj-moreFuction-list {
    position: absolute;
    top: -383px;
    right: -6px;
    z-index: 10;
    width: 90px;
    height: 374px;
    padding: 9.5px 0;
    box-sizing: border-box;
    background: #fff;
    box-shadow: 0px 3px 24px 0px rgba(160, 160, 160, 0.22);
    border-radius: 4px;
}

.dzgj-moreFuction-list>li {
    color: #333;
    font-size: 12px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    cursor: pointer;
}

.dzgj-moreFuction-list>li:hover {
    color: #fff;
    background: #E1251B
}

.dzgj-moreFuction-list>li+li {
    margin-top: 6px;
}

.dzgj-moreFuction-list::before {
    content: '';
    position: absolute;
    left: 50px;
    bottom: -10px;
    border-width: 5px;
    border-style: solid;
    border-color: #fff transparent transparent transparent;
}


/* 分页 */

.pager {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
}

.pager a,
.pager .flip,
.pager .curPage {
    border: 1px solid #e3e3e3;
    display: inline-block;
    height: 28px;
    line-height: 28px;
    text-align: center;
}

.pager a {
    background: none repeat scroll 0 0 #f2f2f2;
    color: #010101;
    text-decoration: none;
    width: 30px;
    margin: 0 5px;
}

.pager a:hover {
    background: none repeat scroll 0 0 #f1f1f1;
    color: #e87683;
}

.pager .noPage {
    color: #a4a4a4;
}

.pager .curPage {
    border: none;
    color: #ffffff;
    width: 30px;
    color: #e87683;
}

.pager .flip {
    width: 56px;
    margin: 0 5px;
}